<section class="popup dark-bg">
	<h1>IRB Glosssary</h1>
	<h3>Which direction would you like to view?</h3>
	
	<%= link_to button_tag("English→French"), "/glossaries/1" %>
	<%= link_to button_tag("French→English"), "/glossaries/1" %>

</section>