/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*POSITIONING*/

.container {
	/*position:relative;*/
	display:block;
}

.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  zoom: 1;
}

.right { 	float:right;	}
.left {		float:left;		}

form {
	float:right;
}

header {
	min-height: 3em;
	z-index: 100;
	position: fixed;
	padding: 1em;
	box-sizing:border-box;
}

header h3 {
	margin:0;
	padding: 0;
}

.h-full {
	width:100%;
	margin:0;
}

.v-100p {
	height: 100%;
}

.abs_right {	
	position: absolute;
	right: 0;
}
.abs_left {
	position: absolute;
	left:0;
}

.styling-bar {
	position: fixed;
	width:12.5%;
	height: 100%;
	z-index:9;
}

main {
	min-height: 100%;
	position: relative;
	text-align: center;
}

header, footer {
	z-index: 9;
}


/*VISUALS*/

.darkest-bg {
	background-color: rgb(31,31,31);
	color:rgba(255,255,255,0.8);
}

.dark-bg {
	background-color: rgba(135,135,135,1);
}

.med-bg {
	background-color: rgba(230,230,230,1);	
}

.light-bg {
	background-color: rgba(175,175,175,1);		
}

.styling-bar.abs_left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.00001) 100%);
}

.styling-bar.abs_right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.00001) 0, rgba(0, 0, 0, 0.3) 100%);
}

h1 {
	text-shadow:1px 1px 3px rgba(255,255,255,0.5);
}

.accent {
	color:rgb(130,193,245);
}

a {
	color:rgba(130,193,245,0.9);	
	text-decoration: none;
}

a:hover, a:focus {
	color:rgba(130,193,245,0.7);	
}

a:active {
	color:rgba(130,193,245,0.5);	
}

input, button {
	font-size: 0.75em;
}

button, input[type="submit"] {
	border-radius:3px;
	border:none;
	font-weight: bold;
}

input[type="submit"]:active, input[type="submit"]:focus, input[type="submit"]:hover, button:focus, button:active, button:hover {
	outline:none;
	background-color: rgba(130,193,245,0.5);	
}

input[type="search"] {
	border-radius: 3px;
	width: 20em;
}

input[type="search"]:focus {
	border-radius: 1px;
	outline-offset:-1px;
}